# compiled objects
*.o
data/text/*.asm

# compiled graphics
gfx/faces/*.2bpp
gfx/faces/*.gbcpal
gfx/monsters/**/*.2bpp
gfx/monsters/**/*.gbcpal
gfx/cutscenes/meteor/*.2bpp
gfx/tilesets/*.2bpp
data/maps/**/*.bin

# compiled roms
*.gbc
*.gb

# rgbds extras
*.map
*.sym

# tool binaries
*.exe

# precompiled python
*.pyc
*$py.class

# save game files
*.sgm
*.sav
*.rtc
*.sn*
*.sa*
*.sg1

# swap files for vim and gedit
.*.swp
*~
